<div class="wrapper preload">
	        
    <%= render 'shared/right_sidebar.html.erb' %>	
    <%= render 'shared/header' %>	
	<%= render 'shared/side_menu' %>			

    <div class="main-container">
        <div class="padding-md">
          <h2 class="header-text">Pokemon Go Accounts
            <a href="<%= new_poke_auth_path %>" class="btn btn-md btn-primary pull-right"><i class="fa fa-plus-circle"></i> Add account</a>
          </h2>
            <table class="table table-striped" data-toggle="table" data-search="true">
              <thead>
                <tr>
                  <th data-sortable="true">Name</th>
                  <th data-sortable="true">Type</th>
                  <th data-sortable="true">Login</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @poke_auths.each do |poke_auth| %>
                <tr>
                  <td><%= poke_auth.display_name %></td>
                  <td><%= poke_auth.auth_type %></td>
                  <td><%= poke_auth.login_name %></td>
                  <td>
                    <%= link_to "Import data", import_poke_auth_path(poke_auth.id), class: 'btn btn-sm btn-primary' %>  
                    <%= unless poke_auth.default? then link_to "Make default", default_poke_auth_path(poke_auth.id), class: 'btn btn-sm btn-warning' end %>  
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
        </div>
    </div>
</div>
