<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Pokemons</h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <td>Pokemon</td>
              <td>Nickname</td>
              <td>Move 1</td>
              <td>Move 2</td>
              <td>Defense</td>
              <td>Attack</td>
              <td>Stamina</td>
              <td>Sum</td>
              <td>Pct Perfect</td>
            </tr>
          </thead>
          <tbody>
            <% @pokemons.each do |pokemon| %>
            <tr>
              <td><%= pokemon.pokemon_id %></td>
              <td><%= pokemon.nickname || "-" %></td>
              <td><%= pokemon.move_1 %></td>
              <td><%= pokemon.move_2 %></td>
              <td><%= pokemon.individual_defense %></td>
              <td><%= pokemon.individual_attack %></td>
              <td><%= pokemon.individual_stamina %></td>
              <td><%= pokemon.stat_sum %></td>
              <td><%= number_to_percentage pokemon.stat_sum.to_f / 45 * 100, precision: 1 %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
